{% extends 'base.html.twig' %}

{% block body %}
    <h1>Menu</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ menu.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ menu.name }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ menu.link }}</td>
            </tr>
            <tr>
                <th>Publish</th>
                <td>{{ menu.publish }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ menu.position }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('innonic_job_adminmenu_edit', {id: menu.id}) }}">edit</a>
            <a href="{{ path('innonic_job_adminmenu_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
